.order-card-sm {
  height: 250px;
  width: 300px;
  border: 1px solid red;
  border-radius: 25px;
  margin-bottom: 10px;
  padding-left: 10px;
  background-color: $dark-beige;
  display: flex;
  justify-content: center;
  align-items: center;
  h1 {
    margin: 0;
    padding: 0;
  }
  a {
    padding: 0;
  }
  .order-info {
    width: 70%;
  }
  .product-list {
    display: flex;
    width: auto;
    border: none;
    .product-card-sm {
      margin: 0;
      padding: 0;
      height: 150px;
      width: 250px;
      a {
        margin: 0;
        h2 {
          margin-bottom: 0;
        }
        p {
          display: none;
        }
        span {
          display: none;
        }
        button {
          display: none;
        }
      }
    }
  }
}
@include this-btn;
.order-body {
  width: 100%;
  margin: 80px 0;
  .order-list {
    margin: 21px;
    max-width: 1280px;
    .order-navbar {
      display: flex;
      justify-content: space-between;
    }
    .order-block {
      padding: 15px 0;
      border-bottom: 1px solid;
      display: flex;
      justify-content: space-between;
      .order-card {
        .card {
          display: flex;
          justify-content: space-between;
          background-color: blanchedalmond;
          box-shadow: 5px 4px 13px 0px #000;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          height: 150px;
          width: 240px;
          background-color: $dark-beige;
          border: 2px solid black;
          position: relative;
          border-radius: 20px;
          margin: 10px;
          padding: 10px;
          .product-pris-btn {
            display: flex;
            justify-content: space-between;
            span {
              font-size: 2rem;
            }
          }
          a {
            padding: 0;
          }

          h3 {
            font-size: 1.3rem;
            margin-top: 5px;
            margin-left: 5px;
          }
          p {
            align-self: flex-end;
            margin-bottom: 5px;
            margin-right: 5px;
          }
        }
        .card:hover {
          animation: myAnim 2s ease 0s 1 normal forwards;
        }
      }
      .order-info {
        width: 300px;
        ul {
          list-style-type: none;
          padding: 0;
          margin: 0;
          li {
            padding: 5px;
            text-decoration: none;
            font-size: 18px;
            color: black;
            display: block;
          }
        }
      }
    }
    .order-summary-peymant {
      border-bottom: 1px solid red;
      display: flex;
      justify-content: space-between;
      div {
        width: 240px;
      }
      button {
        padding: 5px 15px;
        margin-right: 5px;
        border: 2px solid #111;
        border-radius: 8px;
        box-sizing: border-box;
      }
    }
  }
}
.space-between-element {
  margin: 80px;
  text-align: center;
}
.center-text-line {
  margin: 50px;
  text-align: center;
  padding-bottom: 20px;
  border-bottom: 2px solid black;
}
.bugs {
  display: none;
}
@keyframes myAnim {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}
