.product-list {
  display: flex;
  justify-content: center;
  max-width: 1280px;
  flex-wrap: wrap;
}
.products-card-sm {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 270px;
  width: 400px;
  background-color: $dark-beige;
  border: 2px solid black;
  position: relative;
  border-radius: 20px;
  margin: 10px;
  padding: 15px;
  text-align: start;
  .product-pris-btn {
    display: flex;
    justify-content: space-between;
    span {
      font-size: 2rem;
    }
  }
  a {
    padding: 0;
  }
}
button {
  @include this-btn;
}
.products-card-sm:hover {
  box-shadow: 2px 3px 10px 1px $dark-grey;
}
.product-details-container {
  display: flex;
  justify-content: center;
  height: 100vh;
}
.product-body {
  width: 1280px;
  display: flex;
}
.product-info-box {
  width: 60%;
  height: auto;
}
.costumer-info-box {
  width: 40%;

  height: auto;
}
.giftcard-preview-front {
  @include this-card;
  width: 95%;
  height: 530px;
  border-radius: 50px;
  padding: 30px;
  margin-top: 30px;
}
.giftcard-preview-back {
  @include this-card;
  width: 100%;
  height: 330px;
  border-radius: 50px;
  padding: 20px;
  margin-top: 30px;
}
input,
textarea {
  width: 100%;
  padding: 5px 10px;
  margin: 10px 0;
  border-radius: 5px;
  box-sizing: border-box;
  display: block;
  /* @include this-card; */
}
