@import "./variables.scss";
@import "./components/header.scss";

body {
  font-family: $parapraph;
  background-color: $light-beige;
}

/* CSS for main / content page */
.main {
  display: flex;
  justify-content: center;
  height: 100vh;
  .main-content {
    background-color: $light-beige;
    width: 1280px;
  }
}
/* CSS for main / content page */

/* CSS for Footer and all content in it */
.footer {
  background-color: $dark-beige;
  height: 420px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  .footer-info {
    max-width: 450px;
    text-align: center;
    margin: 0px 0px 40px 0px;
  }
  .footer-links {
    margin-bottom: 40px;
    nav {
      ul {
        padding-left: 0px;
      }
    }
  }
  .social-icons {
    margin-bottom: 40px;
  }
}
/* CSS for Footer and all content in it */
