@import "./variables.scss";
@import "./components/header/header.scss";
@import "./components/product/product.scss";
@import "./components/order/order.scss";

body {
  font-family: $parapraph;
  background-color: $light-beige;
  margin: 0;
  overflow: scroll;
}

.page-title {
  padding: 15px 5px;

  max-width: 100%;
  font-family: $headings;
}

/* CSS for main / content page */
.main {
  display: flex;
  justify-content: center;
  height: auto;
  margin: 40px 0px;
}
.main-content {
  background-color: $light-beige;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  max-width: 1280;
  margin: 0px 20px;
}
/* CSS for main / content page */

.main-element {
  padding-bottom: 10px;
}

.main-element p {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

/* CSS for shop */
.shop {
  display: grid;
  justify-content: center;
}
.main-products {
  display: grid;
  justify-content: center;
  align-items: center;
  text-align: center;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 15px 15px 15px 15px;
  padding: 15px 15px 15px 15px;
}
.product {
  border: 1px solid black;
  border-radius: 30px;
  padding: 40px;
  margin: 15px 15px 15px 15px;
  background-color: #f9f1e6;
  font-family: $parapraph;
  font-size: $p-size;
}

.Explore-container {
  max-width: 1280px;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  @media screen and (max-width: 992px) {
    flex-direction: column;
    height: 670px;
  }
  .Explore-left {
    max-width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    p {
      text-align: center;
    }
  }
  .Explore-right {
    width: 400px;
    display: flex;
    justify-content: center;
  }
}
.search-bar {
  background-color: white;
  height: 50px;
  width: 100%;
  max-width: 1276px;
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  border-radius: 5px;
  
  span {
    padding: 0px 15px;
    font-size: 18px;
  }
  .search {
    width: 100%;
    padding: 15px;
    border: none;
    font-size: 16px;
    margin: 15px 0px;
    border-radius: 5px;
    border: 1px solid black;
  }
  .search:focus {
    border: none;
  }
}

/* CSS for Footer and all content in it */
.footer {
  background-color: $dark-beige;
  margin-top: 50px;
  height: 420px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  .footer-info {
    max-width: 450px;
    text-align: center;
    margin: 0px 0px 40px 0px;
  }
  .footer-links {
    margin-bottom: 40px;
    nav {
      ul {
        padding-left: 0px;
      }
    }
  }
  .social-icons {
    margin-bottom: 40px;
  }
}
/* CSS for Footer and all content in it */
