//import fonts
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;600;700&display=swap");

//Fonts
$headings: "Work Sans", sans-serif;
$parapraph: "Source Sans 3", sans-serif;

//Font weight h = headings p = paragraphs
$h-weight: 600;
$p-weight: 400;

//Font size
$p-size: 1rem;

//Beige colors
$dark-beige: #f9f1e6;
$light-beige: #fcf8f3;
$white: #fffefc;

//Font colors
$dark-grey: #383838;
$light-grey: #545454;

//Center everything ;)
@mixin center-children {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin this-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 2px solid black;
  box-shadow: 5px 4px 13px 0px #000;
}

@mixin this-btn {
  .my-btn {
    align-items: center;
    background-color: $light-beige;
    border: 2px solid #111;
    border-radius: 8px;
    box-sizing: border-box;
    color: #111;
    cursor: pointer;
    display: flex;
    font-family: Inter, sans-serif;
    font-size: 16px;
    height: 48px;
    justify-content: center;
    line-height: 24px;
    max-width: 100%;
    padding: 0 25px;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  .my-btn:after {
    background-color: #111;
    border-radius: 8px;
    content: "";
    display: block;
    height: 48px;
    left: 0;
    width: 100%;
    position: absolute;
    top: -2px;
    transform: translate(8px, 8px);
    transition: transform 0.4s ease-out;
    z-index: -1;
  }
  .my-btn:hover:after {
    transform: translate(0, 0);
  }

  .my-btn:active {
    background-color: #ffdeda;
    outline: 0;
  }

  .my-btn:hover {
    outline: 0;
  }
}
